<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ path('accueil') }}">My First Symfony</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          data-toggle="dropdown"
          href="#"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          >Assasins</a
        >
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{{ path('assassins') }}">Accueil</a>
          <a class="dropdown-item" href="{{ path('personnages') }}"
            >Personnages</a
          >
          <a class="dropdown-item" href="{{ path('weapons') }}">Armes</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          data-toggle="dropdown"
          href="#"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          >Animaux</a
        >
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{{ path('accueil_animaux') }}"
            >Accueil</a
          >
          <a class="dropdown-item" href="{{ path('familles') }}">Les familles</a>
          <a class="dropdown-item" href="{{ path('animals') }}">Les animaux</a>
          <a class="dropdown-item" href="{{ path('continents') }}">Les continents</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
