<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ path('accueil') }}">My First Symfony</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          data-toggle="dropdown"
          href="#"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          >Assassins</a
        >
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{{ path('assassins') }}">Accueil</a>
          <a class="dropdown-item" href="{{ path('personnages') }}">Personnages</a
          >
          <a class="dropdown-item" href="{{ path('weapons') }}">Armes</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          data-toggle="dropdown"
          href="#"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          >Animaux</a
        >
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{{ path('accueil_animaux') }}"
            >Accueil</a
          >
          <a class="dropdown-item" href="{{ path('familles') }}">Les familles</a>
          <a class="dropdown-item" href="{{ path('animals') }}">Les animaux</a>
          <a class="dropdown-item" href="{{ path('continents') }}">Les continents</a>
          <a class="dropdown-item" href="{{ path('personnes') }}">Les personnes</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          data-toggle="dropdown"
          href="#"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          >Epicerie</a
        >
        <div class="dropdown-menu">
        
          <a class="dropdown-item" href="{{ path('aliments') }}">Les Aliments</a>
          <a class="dropdown-item" href="{{ path('categories') }}">Les Catégories</a>
      
           {% if  is_granted('ROLE_ADMIN')  %} 
          <div class="dropdown-divider"></div>          
          <a class="dropdown-item" href="{{ path('admin_aliments') }}">Admin Aliments</a>
          <a class="dropdown-item" href="{{ path('admin_categories') }}">Admin Catégories</a>         
          {% endif %}
         
         
        
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          data-toggle="dropdown"
          href="#"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          >Concession automobile</a
        >
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{{ path('accueil_cars') }}">Accueil</a>
          {% if  is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %} 
          <a class="dropdown-item" href="{{ path('cars') }}">Les Voitures</a>
           {% endif %}
            {% if  is_granted('ROLE_ADMIN')  %} 
          <a class="dropdown-item" href="{{ path('admin_cars') }}">Gestion</a>
           {% endif %}
         
         
        
        </div>
      </li>
      {% if  not app.user  %}
      <li class="nav-item">
        <a class="nav-link" href="{{path('signup')}}">Inscription</a>     
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{path('login')}}">Connexion</a>     
      </li>
      {%  else %}
      <li class="nav-item">
        <a class="nav-link" href="{{path('logout')}}">Déconnexion</a>     
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
