{% extends 'base.html.twig' %}

{% block title %} Nos voitures disponibles{% endblock %}
{% block pageTitle %} Nos voitures disponibles à la location{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 1140px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .form-control, .btn{
        border-radius: 5px !important;
    }
    
</style>

<div class="example-wrapper">
    {{ form_start(form) }}
    <div class="row no-gutters justify-content-between text-center mx-5 px-5">
      <div class="col-4">
          {{ form_row(form.minAnnee) }}

      </div>
      <div class="col-4">
          {{ form_row(form.maxAnnee) }}

      </div>
      <div class="col-2 pt-4">
          <input type="submit" value="rechercher" class="btn btn-info">

      </div>
         
            {{ form_end(form) }}

    </div>
    <div class="row no-gutters">
        {% for car in cars %}
        <div class="col-md-6">
            <div class="card py-2 my-3 mx-2">  
                <div class="row">
                    <div class="col-md-6 d-flex justify-content-center align-items-center p-2">
                        <div class="card-image">
                            <img src="{{asset('images/voitures/' ~ car.modele.image)}}" alt="{{car.immatriculation}}" class="" style="width:180px;">
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="px-2 px-lg-1 ">
                            <p class="lead">Marque : {{ car.modele.marque.libelle }}</p>
                            <p class="lead">Modèle : {{ car.modele.libelle }}</p>
                            <p class="lead">Nombre de portes : {{ car.nbPortes }}</p>
                            <p class="lead">Année : {{ car.annee }}</p>
                            <p class="lead">Prix moyen : {{ car.modele.prixMoyen }} €</p>
                            <p class="lead">Immatriculation : {{ car.immatriculation}}</p>                      
                        
                        </div>
                    
                    </div>


                </div>

                    
            
            </div>
        </div>
        {% endfor %}
        <div class="col-12 col-md-8 mx-auto">
                {# display navigation #}
            <div class="navigation d-flex justify-content-center">
                {{ knp_pagination_render(cars) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
