{% extends 'base.html.twig' %}
{% block title %}{{page_title}}
{% endblock %}
{% block pageTitle %}{{page_title}}
{% endblock %}


{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 600px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .card, .btn,.form-control ,.alert{
        border-radius: 5px !important;
    }
    label {
        color: #006666 !important;
    }
    .card {
        background-color: rgb(136, 180, 218) !important;
    }
</style>

<div class="example-wrapper">
    <div class="row">
        <div class="col-12">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        </div>
        <div class="col-12">
            <div class="card p-3">
            <form action="{{path('login')}}" method="POST">

            <div class="form-group">
                <label for="username"> Nom :</label>
                <input type="text" required name="_username" class="form-control">
            </div>
            <div class="form-group">
                <label for="password"> Mot de passe :</label>
                <input type="password" required name="_password" class="form-control">
            </div>
            <input type="hidden" name="_target_path" value="aliments"/>
            <input type="submit" class="btn btn-primary" value="se connecter">
            </form>
            </div>
        </div>
       <!--   <div class="col-12">
           {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissible fade show m-3" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
      </div>
          {% endfor %}
        </div> -->
    </div>
</div>
{% endblock %}
